.card {
	width: 100%;
	padding: 0.5rem;
	border: solid 2px var(--primary);
	border-radius: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info {
	width: 100%;
}

.quantity {
	display: flex;
	gap: 0.5rem;
	align-items: center;
}
