* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color: #222222;
	background: #fff9d5;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--primary: #ab54d7;
	--foreground: #222222;
	--background: #fff9d5;
}

button {
	padding: 0.5rem;
	width: fit-content;
	height: fit-content;
	border-radius: 0.5rem;
	border: solid 2px var(--primary);
	color: var(--foreground);
	background: transparent;
	transition: all 100ms ease-in-out;
	@media (hover: hover) {
		&:hover {
			background: var(--primary);
			color: var(--background);
		}
	}

	@media (hover: none) {
		&:active {
			background: var(--primary);
			color: var(--background);
		}
	}
}
